.Form{
    display: flex;
    position: relative;
    align-items: center;
}
.Input{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 8px;
    text-indent: 1rem;
    outline: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.Input_btn{
    font-size: 1.2rem;
    right: 10px;
    color: rgb(253, 56, 56);
    position: absolute;
    transition: .3s;
}
.Input_btn:hover{
    scale: 1.2;
}